
a {
    color:rgb(248, 103, 128);
}

body {
    background-image:url("images/wide-tea-book.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:  #b8aa9f;
}

@media (max-width: 900px) {
    body{
    background-image:url("images/French.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(179, 167, 180);
}}
@media (max-width: 600px) {
    body{
    background-image:url("images/Teacup.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(128, 128, 128);
}}