
a {
    color:rgb(248, 103, 128);
}

body {
    background-image:url("images/wide-tea-book.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.157);
    
}

@media (max-width: 900px) {
    body{
    background-image:url("images/french-flower.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}}
@media (max-width: 600px) {
    body{
    background-image:url("images/tea-book.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}}